<div class="login-container">
  <h1 class="welcome-title">Welcome</h1>
  

  <form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="login-form">
    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="username" placeholder="Username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" placeholder="Password" />
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" class="login-btn">LOGIN</button>
  </form>

  <div class="login-links">
    <a href="#">Forgot <span>Username</span> / <span>Password</span>?</a>
    <a href="#">Don't have an account? <span>Sign up</span></a>
  </div>
</div>
