.header-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.right-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.admin-item {
  color: white;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.admin-item:hover {
  background: none; /* Xóa hiệu ứng xanh */
}

.logout-btn {
  color: red;
}
