<div class="search-filter-container">
  <nz-input-group [nzPrefix]="searchIcon">
    <input nz-input [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" placeholder=" Tìm công việc...">
  </nz-input-group>

  <nz-select [(ngModel)]="filterStatus" (ngModelChange)="onFilterChange()" placeholder="Lọc theo trạng thái">
    <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
    <nz-option nzValue="done" nzLabel="✔ Hoàn thành"></nz-option>
    <nz-option nzValue="notDone" nzLabel="❌ Chưa hoàn thành"></nz-option>
  </nz-select>
</div>


<nz-table #basicTable [nzBordered]="true" [nzData]="displayTodos" [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzWidth="5%">ID</th>
      <th nzWidth="25%">Người làm</th>
      <th nzWidth="25%">Tiêu đề</th>
      <th nzWidth="20%">Trạng thái</th>
      <th nzWidth="25%">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of displayTodos; let i = index">
      <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
      <td>{{ todo?.user?.name }}</td>
      <td (click)="openViewModal(todo)" class="clickable-row">{{ todo?.title }}</td>
      <td>
        <span [ngClass]="{ 'completed': todo?.completed, 'not-completed': !todo?.completed }">
          {{ todo?.completed ? '✔ Hoàn thành' : '❌ Chưa hoàn thành' }}
        </span>
      </td>
      <td class="action-icons">
        
        <nz-icon nzType="plus" nzTheme="outline" class="action-icon" (click)="openCreateModal()"></nz-icon>
        <nz-icon nzType="edit" nzTheme="outline" class="action-icon" (click)="openEditModal(todo)"></nz-icon>
        <nz-icon nzType="delete" nzTheme="outline" class="action-icon" (click)="confirmDelete(todo.id)"></nz-icon>
        
        
        <nz-icon nzType="eye" nzTheme="outline" class="action-icon" (click)="openViewModal(todo)"></nz-icon>
        <nz-icon nzType="profile" nzTheme="outline" class="action-icon" (click)="openTodoDrawer(todo)"></nz-icon>
      </td>
    </tr>
  </tbody>
</nz-table>


<div class="pagination-container">
  <nz-pagination
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[5, 10, 15, 30]"
    (nzPageIndexChange)="onPageChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  ></nz-pagination>
</div>


<ng-template #searchIcon>
  <nz-icon nzType="search"></nz-icon>
</ng-template>
